@import '/navbar/navbar.scss';


.header {
  position: absolute;
  display: flex;
  .info-container {
    display: flex;
    justify-content: center;
    vertical-align: baseline;
    align-items: center;

    @media(max-width: 576px) {
      flex-direction: column;
    };
  }
  z-index: 1000;
  justify-content: center;
  flex-direction: column;
  left: 0;
  right: 0;
  padding: 20px;
  font-size: 28px;



  .andrew-head-cropper {
    position: relative;
    overflow: hidden;
    width: 175px;
    min-width: 175px;
    height: 175px;
    min-height: 175px;
    border-radius: 50%;
    background-color: $white;
    border: 2px solid $white;

    .andrew-head {
      position: relative;
      width: 200px;
      height: 200px;
      margin-top: -20px;
    }

    p {
      position: absolute;
      left: 0;
      right: 0;
      top: 25%;
    }

  }

  .andrew-title {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    text-align: left;

    @media(max-width: 576px) {
      text-align: center;
    };

    h1 {
      font-family: 'Quicksand';
      font-weight: 600;
      margin-bottom: 4px;
    }

    h2 {
      margin-top: 4px;
      font-size: 32px;
    }

    .title-placeholder {
      margin-top: 4px;
      min-height: 32px;
    }
  }

  .clickable {
    cursor: pointer;
    transition: opacity .25s;

    &:hover {
      opacity: 0;
      transition: opacity .25s;
    }
  }


  

  .back-button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    transition: font-size .5s;

    &:hover {
      cursor: pointer;
      font-size: 32px;
      transition: font-size .5s;
    }
  }

}