.page-container {
  width: 100%;
  height: calc(100% - 280px);
  position: absolute;
  z-index: 500;
  top: 280px;
  bottom: 0;

  @media(max-width: 576px) {
    top: 400px;
    height: calc(100% - 350px);
  }
}