@import-normalize;
@import '/styles/_colors.scss';
@import '/splashLinks/splashLinks.scss';
@import '/header/header.scss';
@import '/page/page.scss';

body {
  background-color: $red;
  overflow-x: hidden;
  width: 100vw;
}

.App {
  text-align: center;
  height: 100%;
}

.hidden {
  display: none;
}

.fadeOut {
  opacity: 0;
  // transition: opacity .25s;
}


.fadeIn {
  opacity: 100;
  transition: opacity 2s;
}