@import-normalize;
@import '/styles/_colors.scss';
@import '/splashLinks/splashLinks.scss';
@import '/header/header.scss';

body {
  background-color: $red;
}

.App {
  text-align: center;
  height: 100%;
}

.hidden {
  display: none;
}